.blue-button {
	background-color: black;
	padding: 6px 7px;
	border-radius: 6px;
	color: #2DB4FC;
	font-weight: lighter;
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	margin-top: 94px;

 }

